.search-cont{
  width: 100%;
  height: calc(100vh - 120px);
  
  border-right: 1px black solid;
}
.search-box-cont{
  padding-top: 50px;
  height: 150px;
  width: 100%;
}
.search-title-cont{
  display: block;
  width: 75%;
  margin: 0px auto;
}
.search-title-cont h2{
  font-size: 22pt;
  font-weight:600;
  margin-bottom: 15px;
}
.search-box {
  display: flex;
  width: 75%;
  margin: 0px auto;
  height: 40px;
  border: 4px solid #0c1569;
  border-radius: 40px;
  margin-bottom: 40px;
}
.search-box .fa-search {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  cursor: pointer;
  font-size: 14pt;
  color: #0c1569;
}
.search-input{
  padding-top: 2px;
  font-size: 14pt;
  width: 100%;
  margin-left: 15px;
  margin-right: 10px;
  border: 0;
  background: 0;
  outline: 0;
}
.results-cont {
  height: calc(100% - 200px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #FFF;
}
.result-cont:first-child{
  border-top: 4px solid #CCC;
}
.result-cont:last-child{
  border-bottom: 4px solid #CCC;
}
.result-cont:hover {
  background-color: rgb(251, 251, 251);
  cursor: pointer;
}
.result-cont:nth-child(even){
  background-color: rgb(247, 247, 247);
}
.result-cont:nth-child(even):hover{
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}
.result-cont{
  border-bottom: 1px solid #CCC;
  padding: 15px;
}
.result-cont p{
  margin-top: 10px;
}